header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  padding: 0 50px;
}

.menu {
  
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 40px 20px;
  list-style: circle;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.header__links-list-item_no-bullit {
  
}

.header__links-list-item {
  
}

.header-logo {
  
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  max-width: 240px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  padding: 0 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.description

.lots {
  width: 1052px;
  height: 723px;
  padding: 180px 24px 120px 24px;
}

.about {
  width: 1052px;
  height: 595px;
  padding: 0 24px 180px 24px;
}

footer {
  width: 1100px;
  height: 180px;
  padding: 0 50px;
}


